{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Best programming language to learn in 2018</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on February 1, 2018
          </p>
 <p>In the programming field. You must always be on top of the news. You can be the best at one programming language, but having it outdated or not supported anymore
 can make it quite an issue for your future career. That's why you have to be convertible to the industry and companies' demands.</p>
 <p>So here are the best programming languages to master for 2018!</p>

          <!-- Preview Image -->
         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>



          <img class="img-fluid rounded" src="{{ asset('main/img/programming-languages.jpeg') }}" alt="">

          <hr>

          <!-- Post Content -->

          <h3>Python</h3>
         <div class="row">
         <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/python.png') }}" alt=""></div>
           <div class="col-8"> <p>Python has a design philosophy that emphasizes code readability, and a syntax that allows programmers to express concepts in fewer lines of code.
           To be honest, it’s such a powerful language that almost everything can be created with Python! That’s why it is used by YouTube, Instagram, Netflix and even Quora!</p>
            </div>
         </div>
        <p>This programming language surprises and amazes me almost everyday. (That’s why I encourage everyone to learn it). I’d like to highlight that it’s considered as the fastest-growing major programming language.</p>
        <p>Python is easy to learn, user-friendly and powerful, it’s not a surprise that Python listed in Top 5 coding languages.</p>


          <h3>Javascript</h3>
          <div class="row">
            <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/javascript.jpg') }}" alt=""></div>
              <div class="col-8"> <p>JavaScript, the grandfather of programming languages, is roughly as popular today as it was in our last blog post. That’s no surprise to us – JavaScript is used by over 80% of developers and by 95% of all websites for any dynamic logic on their pages.</p>
             <p>Several front-end frameworks for JavaScript such as React and AngularJS have huge future potential as IoT and mobile devices become more popular, so we doubt we’ll see JavaScript drop in popularity anytime soon.</p>
             </div>
          </div>

          <h3>PHP</h3>
          <div class="row">
            <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/php.jpg') }}" alt=""></div>
            <div class="col-8"> <p>PHP development is something that is more popular than any other technology. Back then, many of the web designers; responsible not only for back-end development but database engineering, system administration, front-end programming and maybe realising and designing the very UI as well.</p>
            </div>
            </div>
            <p>This has changed in current years. Simple websites are becoming more and more the sphere of specialised SaaS. To put it the other way around: everything which can be easily automated (CMS, blog,) will be finally.</p>

            <p>So web developers tainted themselves by concentrating on what cannot be automated so simply: web applications. Along with this came a new state of mind on how PHP application development should be completed and what tools should be optimised.</p>

            <p>PHP is one of the most gainful tools for web development. Since PHP is by far one of the finest programming tools</p>

           <h3>Java</h3>
         <div class="row">
         <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/java.jpg') }}" alt=""></div>
           <div class="col-8"> <p>Java decreased in popularity by about 6,000 job postings in 2018 compared to 2017, but is still extremely well-established. Java is over 20 years old, used by millions of developers and billions of devices worldwide,
           and able to run on any hardware and operating system through the Java Virtual Machine. </p>
            </div>
         </div>
           <p>All Android apps are based on Java and 90 percent of Fortune 500 companies use Java as a server-side language for backend development since Java having its own compiler and it can run on any platform (window, UNIX and Mac); all this while being portable</p>



          <h3>C++</h3>
          <div class="row">
            <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/c++.png') }}" alt=""></div>
            <div class="col-8"> <p><b>Pointers:</b> Most of people hate pointers, but they are an extraordinarily powerful feature of a programming language.
            Pointers bring you speed. All programming languages use heap memory and pointers, but they usually hide it. With C++ (and C), you can escape all artificial constructs, wrappers and checkers,
             though you get to your stuff as fast as you can. You can write directly in video memory, implement your own drawing algorithms tailored to your specific needs.
            <p><b>Paradigm free:</b> with C++ you can write in any way you want. The language doesn’t force nor even encourage you to write
             </div>
          </div>
          your code in a specific way.
            OOP, Functional Programming, procedural programming, dynamic programming can all be in one single project.

            <p><b>Control: </b>you have full control on your code. You know exactly what happens in your code and when. You know when an object is destroyed, a resource released, a thread exited.




          <h3>Swift</h3>
          <div class="row">
            <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/swift.jpg') }}" alt=""></div>
            <div class="col-8">
            <p><b>Default:</b> For Mac and iOS, it’s the default choice, you’d need to have a damn good reason to use anything else. It’s got first class support for the Mac and iOS APIs.</p>
              <p><b>Apps:</b>  App development is a big deal at the moment, iOS in particular, Swift is usually the best choice.</p>
           </div>
          </div>
           <p><b>Performance and safety"</b>According to numerous tests, Swift performance is nearly the same as C++ when it comes to such algorithms as FFT or Mandelbrot. However, you should remember that Apple's Swift is a young programming language, so its performance will definitely get better.</p>

            <p>Swift was designed with safety in mind. While Objective-C can call a method containing a nil pointer variable, making the expression a no-operation that in turn could lead to the app working improperly, Swift is able to produce a compiler error every time it faces bad code.
            This is due to optional types making clear nil optional values. This way, the time needed for bug fixing is reduced greatly.</p>

            <p>One of the other Swift advantages is that this language has a really strong typing system as well as error handling that prevents coders from making minor mistakes.</p>



          <br>

        <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="http://blogs-images.forbes.com/sap/files/2012/07/leadership-3.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="leadership" ><h4 class="card-title"> 8 intuitive steps to great leadership</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="http://www.quickqualityessays.net/wp-content/uploads/2016/03/7687494_orig.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="life-changing-books" ><h4 class="card-title">5 Life Changing Books</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBiJpvR-EujaOVV-JQhNBrMI2niIh-jQq_IkS-JirOJ7gXxVTO" alt="Card image cap">
              <div class="card-block">
                <a  href="dating-app" > <h4 class="card-title">Best Dating Apps!</h4></a>
              </div>
            </div>


          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
           <div class="card my-4" id="news1">
            <div class="wrapper">

              <div class="date">
                <span class="day">21</span>
                <span class="month">Feb</span>
                <span class="year">2018</span>
              </div>
              <div class="data">
                <div class="content">
                  <span class="author"><a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><i class="fa fa-user">Yassine Berrehouma</i></a></span>
                  <h3 class="title"><a href="science-facts-people-get-wrong">What are some science facts that people generally get wrong?</a></h3>
                 <!-- <p class="text"><a href="things-to-avoid" class="blackhover">To be successful in life, isn't only about the things that you have to do and achieve, but...</a></p>!-->
                  <label for="show-menu" class="menu-button"><span></span></label>
                </div>
                <input type="checkbox" id="show-menu" />
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                </ul>
              </div>
            </div>
          </div>


          <!-- More Articles -->

         <div class="card my-4" id="news2">
           <div class="wrapper" style="background: url(http://monkeygoosemag.com/wp-content/uploads/2017/08/Slayer-LOG-Behemouth-Mag-13.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="slayer">Slayer: Farewell Tour</a></h2>
                  <a href="slayer" class="whitehover"> <p class="text">What makes them as the most extreme thrash metal band out of The Big Four?</p></a>
                  <a href="slayer" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://i.pinimg.com/736x/a4/0f/bd/a40fbd099395e10504af023566a2b696.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="men-accessory">5 Accessories Every Guy Needs (Part1)</a></h2>
                  <a href="men-accessory" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="men-accessory" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>




 {% endblock %}
    {% block javascripts %}
      <script>
          $(" #science-nav-item").css('background-color', '#29912d');
          $(" #science-nav-item").css('opacity', '0.75');
          /*  $(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#29912d');
            $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#29912d');
            $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#1c651e');
            $(" .nav-link").css('color', '#e5e5e5');*/

      </script>
    {% endblock %}