{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h3 class="mt-4">5 Accessories EVERY Guy Needs | Men's Accessory Must Haves (Part 1)</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on February 1, 2018
          </p>

 <p>Accessories! Those amazing outfit additions that help set you apart from other dudes.</p>
<p>Think about it, let's take the outfit that you are wearing right now, that amazing shirt. How many other dudes shopped at Banana Republic and bought that same amazing shirt.</p>
<p>If you happen to be wearing pants take a look at those they look incredible on you but they also look incredible on 2,700 other dudes who shop at the gap accessories.</p>
<p>This is where you're going to take an outfit that's average and make it extraordinary.</p>
<p>Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs. Some of the accessories you're going to wear some of them you're going to carry but the deal is if I miss your favorite please in the comments let me know and I'll do another article accessory.</p>


          <!-- Preview Image -->
         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>



          <img class="img-fluid rounded" src="{{ asset('main/img/men-accessory.jpg') }}" alt="">


          <br>
          <br>

          <!-- Post Content -->

        <h3>1-Solid black tie</h3>
         <div class="row">
         <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/solid-black-tie.jpg') }}" alt=""></div>
           <div class="col-8">
           <p>I will assume that the majority of you have a charcoal gray suit because of it's amazing sexiness and versatility add a black tie. </p>
           <p>Oh! my goodness! you just took your style and sexiness from an 8 to a 12.5.</p>
          <p>Besides, Make sure to choose the right tie, not too large and not too small. Slim fit, should be the perfect size</p>
           <p><b>N.B:</b> The tie makes your outfit more formal but it isn’t the factor that sets the formality dress code to the event. </p>



             </div>
         </div>
          <br>

         <h3>2-Tie bar</h3>

         <div class="row">
         <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/tie-bar.jpg') }}" alt=""></div>
           <div class="col-8">
<p>A tie bar is meant to keep your tie fastened to the placket of your shirt. It sounds obvious, but bears repeating lest a perfectly fine tie bar be attached only to a tie and simply left to swing in the breeze.</p>
       <p><b>Placement:</b> A good rule of thumb is to fasten the tie bar between your third and fourth buttons, around the sternum, and just below the pectoral muscles.</p>
         <p>And you my friend are now up to a 14 on the sexiness scale</p>
             </div>
         </div>
          <br>

         <h3>3-White cotton or linen pocket square</h3>
         <div class="row">
         <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/pocket-square.jpg') }}" alt=""></div>
           <div class="col-8">
           <p>you're in a 16 a simple tie bar and pocket square adds an immediate pop of panache to an outfit.</p>
           <p> you're going to be looking so freaking
super fly that people are going to come up to you and like ask for your autograph</p>

             </div>
         </div>
          <br>


         <h3>4-A sweet pen</h3>
         <div class="row">
         <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/sweet-pen.jpg') }}" alt=""></div>
           <div class="col-8">
           <p>here one of my favorites and these are I think of them as accessories because when you pull it out, people notice when you hand it to somebody to write or use they notice gentleman pens amazing accessory</p>

             </div>
         </div>
          <br>

         <h3>5-A sick watch</h3>
         <div class="row">
         <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/sick-watch.jpg') }}" alt=""></div>
           <div class="col-8">
           <p>For men watches in my opinion are the best accessory that you can actually wear.
            <p>The good news is that you don't need to spend thousands of dollars to have a sweet watch. the deal is there are a lot of amazing options that are less expensive and as long as you rock the SH out of it. it works</p>


             </div>
         </div>

          <br><br>

          <p>While you're there you might want to check out <a href="http://localhost/solo/web/app_dev.php/men-accessory2"><b>Part 2 of 5 Accessories EVERY Guy Needs</b></a></p>

         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="http://blog.trashness.com/wp-content/uploads/2012/07/watch-suit-jacket.jpeg" alt="Card image cap">
              <div class="card-block">
                <a  href="men-accessory2" ><h4 class="card-title">5 Men Accessories Every Guy Need(Part2) </h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://i.ebayimg.com/images/g/p78AAOSwGtRXzMt6/s-l300.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="what-is-lsd" ><h4 class="card-title">What is LSD and What Does it Do to You?</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLKStkkotJ-hYUnNaTD0KtGPAiIfBGhtaIc24Q4_Y9CKBSY8h-" alt="Card image cap">
              <div class="card-block">
                <a  href="alpha-m" > <h4 class="card-title">What's The Story Behind Alpha M?</h4></a>
              </div>
            </div>

          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
          <div class="card my-4">
                <div class="rotate-container">
                    <div class="card card-front text-center">
                        <div class="card-header">
                            <p>Style of The Week</p>
                        </div>
                        <div class="card-background"></div>
                        <div class="card-block"><img class="avatar" src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/09/fashion-logo-design.jpg" alt="Avatar"/>
                            <h3 class="card-title"></h3>
                            <p><i class="fa fa-fw fa-diamond"></i>Lifestyle</p>
                            <button class="btn btn-primary btn-rotate">I am curious &nbsp;       <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="card card-back text-center">
                        <div class="card-header">
                            <p><a href="alpha-m">Style of The Week</a></p>
                        </div>
                        <div class="card-block">

                           <!--> <button class="btn btn-rotate" style="background-color: #fff;">  <img src="http://www.outfits4you.de/wp-content/uploads/2017/12/outfit-mann-blaues-hemd-jeans-bugatti-schuhe.jpg" alt="" style="max-width: 100%"/> </button>

                        </div>
                    </div>
                </div>
            </div>


          <!-- More Articles -->

      <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://avatars.mds.yandex.net/get-pdb/477388/198eb335-84a1-40cd-b0cb-000909901ede/s800) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="dmitry-klokov">Who is Dmitry Klokov?</a></h2>
                            <a href="dmitry-klokov" class="whitehover"> <p class="text">Before i start introducing this guy, let me tell how i got to know him. Going through some inspirational videos on youtube, i land on this video...</p></a>
                            <a href="dmitry-klokov" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4" id="news2">
                <div class="wrapper" style="background: url(https://www.wallpaperup.com/uploads/wallpapers/2015/02/12/620415/acb9b504b99a8e0547c2bb8dd531b542-700.jpg) center/cover no-repeat;">
                    <div class="header">
                        <div class="date">
                            <span class="day">6</span>
                            <span class="month">Feb</span>
                            <span class="year">2018</span>
                        </div>
                        <ul class="menu-content">
                            <li>
                                <a href="#" class="fa fa-bookmark-o"></a>
                            </li>
                            <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                            <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="content">
                            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                            <h2 style="font-weight: 400" class="title"><a href="life-changing-books">5 Life Changing Books</a></h2>
                            <a href="life-changing-books" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                            <a href="life-changing-books" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>





{% endblock %}
{% block javascripts %}
  <script>
          $(" #lifestyle-nav-item").css('background-color', '#b1b220');
          $(" #lifestyle-nav-item").css('opacity', '0.75');
          /*$(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#b1b220');
          $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#b1b220');
          $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#9b9c19');
          $(" .nav-link").css('color', '#e5e5e5');*/

      </script>

        <script>
            $(function() {
                // For card rotation
                $('.btn-rotate').click(function(){
                    $('.card-front').toggleClass(' rotate-card-front');
                    $('.card-back').toggleClass(' rotate-card-back');
                });
            });
        </script>
{% endblock %}