{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Is this the edge of the cliff for FB?</h1>
           <h3>will it be able to build its own wings on the way down?</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" style="color:#1f70ff"><b>Yassine Berrehouma</b></a>
            Posted on March 27, 2018
          </p>
 <p>You’ve probably heard about the breaking news regarding Facebook’s data scandal that has been launched by the firm Cambridge Analytica accessed information from 50 million Facebook users without their knowledge. Indeed, I am sure that most of us are not surprised with this latter. It might be a shock, but not unexpected.</p>



<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>

<img class="img-fluid rounded" src="http://www.siegelgale.com/wp-content/uploads/2014/03/facebook-apps-logo-logo.jpg" alt="">




<p>We've all came across some "fake" news on how tech companies, including FB, are tracking our activities and online streams. As far as I am concerned, I anticipated this and i am not shocked with the fact that Facebook violated our own data, but some-kind shocked on how they let this become official and public. So can we stop encouraging "delete your account, leave Facebook" or "Facebook is stealing our intimate life and ruining the world" and give them a second chance.</p>

<p>It's true that Facebook is leading the world but it's still a young Empire of more than 2 billion users that is only 14 years old led by a 33 years old human being. </p>

<img class="img-fluid rounded" src="{{ asset('main/img/facebook-scandal-stock.png') }}" alt="">
<br>
<h6 style="color:grey; text-align: center">FB stock summary between 03/16/2018 and 03/26/2018 </h6>

<p>We've been using it and consuming its products during all this period for FREE and as soon as it faces its first biggest challenge/mistake, we step back and start offending it. Let’s not forget some top companies who faced their biggest failure but resisted and cameback even stronger than ever, as leaders: </p>

<h3>Netflix</h3>
<div class="row">

  <div class="col-4"><br><img class="img-fluid rounded" src="http://akns-images.eonline.com/eol_images/Entire_Site/2016925/rs_1024x759-161025142146-1024_NewNetflixLogo.jpg?fit=inside|900:auto&output-quality=100" alt=""></div>
  <div class="col-8"> <p><b>Setback:</b> The announcement went out in the summer of 2011: “We will no longer offer a plan that includes both unlimited streaming and DVDs by mail.” Subscribers would have to join two separate services–one of them ludicrously dubbed Qwikster–and pay $16 a month </p>
  </div>
</div>
<p style="position: relative; top:-1%"> instead of $10. The ensuing backlash and exodus stunned investors; more than 800,000 customers fled Netflix in a single quarter, sending its stock plunging from $300 a share to around $65 by year’s end.</p>

<p style="position: relative; top:-1%"><b>Turnaround:</b> Netflix quickly scrapped Qwikster and apologized, but the company only truly recovered from the gaffe with original series such as House of Cards, which launched in 2013. Soon profit was skyrocketing, stock hit $400 per share, and Amazon and Hulu were working furiously to catch up.</p>

<h3> IBM</h3>
<div class="row">

  <div class="col-4"><br><img class="img-fluid rounded" src="https://www.cbronline.com/wp-content/uploads/2016/07/ibm.png" alt=""></div>
  <div class="col-8"> <p><b>Setback:</b> IBM was one on the pioneering companies that revolutionized personal computer in early 1980s. In 1990s, the company started losing its market share and the risk of being irrelevant faced the company. Losses</p>

  </div>
</div>
<p style="position: relative; top:-1%"> amounting to $8 billion were announced from the technology investments the company heard invested in 1993, the biggest company loss in history up to that point.</p>
<p style="position: relative; top:-1%"><b>Turnaround:</b> The company took an action which was changing the management of the company and this saw Lou Gerstner recruited as the new CEO. Under the leadership of Gerstner the company invested in software line and IT services areas. Today the company has registered growth and its market cap is more than $ 210 billion.</p>

<h3> Apple </h3>
<div class="row">

  <div class="col-4"><br><img class="img-fluid rounded" src="https://avmnerede.com/wp-content/uploads/2018/03/apple.png" alt=""></div>
  <div class="col-8"> <p><b>Setback:</b> After his forced resignation from Apple in 1985, Jobs spent the following several years developing NeXT, a computer workstation for educators. But with a high price tag and reports of numerous bugs, sales never materialized. The company burned through hundreds of millions of investor dollars.</p>


  </div>
</div>
<p ><b>Turnaround:</b> Apple announced it would buy NeXT in 1996, bringing Jobs back to the company as interim CEO. He's since developed the iPod and iPad, making Apple one of the most successful Fortune 500 companies of the past decade.</p>

<p><b>Quote: "You can't just ask customers what they want and then try to give that to them. By the time you get it built, they'll want something new."</b></p>

<p><b>Lesson: Having the right resources and people around you makes a big difference.</b></p>

<p>What we should take from those historical turnarounds, that it's very early to start judging Facebook. As we say "What doesn't kill you, makes you stronger" and at this point, I expect Facebook to become even more powerful, secure and transparent as ever. </p>

<p>In addition, during an interview, On Sunday 03/25/2018, With CNN, Mark Zuckerberg said the social media company was now <b>"limiting the data apps get"</b> when users sign in, and was also <b>"investigating every single app that had access to large amounts of data before" </b>it fixed the problem.</p>
<p>According to the ad, Facebook will be reminding users which apps they'd previously given access to, giving them the opportunity to <b>"shut off the ones you don't want anymore."</b></p>
<p><b>"I promise to do better for you,"</b> said Zuckerberg, who has come under harsh criticism for the scandal which sent the company's value plunging by almost $50 billion last week.</P>
<p>At the end of the day, bossiness wise, we accepted and agreed on the Facebook’s terms while creating our profile. Besides, I am pretty sure that more than 90%, including myself, never took the time to read those terms and understand what are the policy regarding your account.</p>

<img class="img-fluid rounded" src="http://www.datacenterknowledge.com/sites/datacenterknowledge.com/files/styles/article_featured_standard/public/wp-content/uploads/2014/11/Facebook_Iowa_6.jpg?itok=6z3k3sKk" alt="">
<h6 style="color:grey; text-align: center">Facebook Data Warehouse Architecture</h6>

<p>Furthermore, let's not forget how many apps we're signed in through our Facebook accounts. It's true that most of them says that they won't use your personal info or share anything on your profile. Unfortunately, you can never trust somebody who has possession of your digital life. That's why you can never fully trust a software developer. </p>

<p>Again, let’s all give another chance to Facebook, which gave us several benefits for no cost including but not limited to:

<ul>
<li>Networking </li>
<li>Dating </li>
<li>Business</li>
<li>Video chatting </li>
<li>Image and video hosting </li>
<li>News and information </li>
<li>Personal portfolio </li>
<li>Cloud hosting</li>
<li>Entertainment... </li>
</ul>


<p>and i am sure that most of you are obliged to, due to their ultimate need of it, either for communication, keep up with friend trends and latest news or just because it became part of our culture, either you like or not, while other people won't probably give them another chance but don't care as well and will keep using Facebook simply because they feel that they have nothing special to hide or should be private.</p>

<h3>Is this the end of the edge for Facebook? Only time will tell!</h3>





          <br>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/before-buying-stock.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="before-buying-stock" ><h4 class="card-title">Before Buying a Stock</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/trading-book.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="top-trading-book" ><h4 class="card-title">5 Trading Books</h4></a>
              </div>

              </div>
            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/stock-trading-tips.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="stock-trading-tips" ><h4 class="card-title">Stock Trading Tips</h4></a>
              </div>
              </div>
          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">News</h5>
            <div class="input-group">
              <div class="feedgrabbr_widget" id="fgid_f367e6865f9c09864b6a7e8b4"></div>
              <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_f367e6865f9c09864b6a7e8b4");</script>
              <script async src="{{ asset('https://www.feedgrabbr.com/widget/fgwidget.js') }}"></script>
            </div>
          </div>


          <!-- More Articles -->

          <div class="card my-4" id="news2">
            <div class="wrapper"  <div class="wrapper" style="background: url(https://www.techworm.net/wp-content/uploads/2017/11/960x0.jpg) center/cover no-repeat;">>
              <div class="header">
                <div class="date">
                  <span class="day">7</span>
                  <span class="month">Mar</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="artificial-intelligence">7 Prerequisites For Learning Artificial Intelligence?</a></h2>
                  <a href="men-accessory" class="whitehover"> <p class="text">Before proceeding to the prerequisites, let me tell you a little bit about Artificial Intelligence, or shall i say AI.</p></a>
                  <a href="men-accessory" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
           <div class="wrapper" style="background: url(http://monkeygoosemag.com/wp-content/uploads/2017/08/Slayer-LOG-Behemouth-Mag-13.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="slayer">Slayer: Farewell Tour</a></h2>
                  <a href="slayer" class="whitehover"> <p class="text">What makes them as the most extreme thrash metal band out of The Big Four?</p></a>
                  <a href="slayer" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

           <div class="card my-4" id="news2">
            <div class="wrapper"  <div class="wrapper" style="background: url(http://laurenceourac.com/home/wp-content/uploads/2015/01/Accessories-Every-Man-Should-Have.jpg) center/cover no-repeat;">>
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="men-accessory">5 Accessories Every Guy Needs (Part1)</a></h2>
                  <a href="men-accessory" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="men-accessory" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://www.timeshighereducation.com/sites/default/files/computer_programming.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="top-programming-languages-2018">Best programming language to learn in 2018</a></h2>
                  <a href="top-programming-languages-2018" class="whitehover"> <p class="text">In the programming field. You must always be on top of the news. You can be the best at one programming language, but...</p></a>
                  <a href="top-programming-languages-2018" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>





{% endblock %}
{% block javascripts %}
  <script>

      $(" #business-nav-item").css('background-color', '#0e5d91');
      $(" #business-nav-item").css('opacity', '0.75');
  </script>
{% endblock %}