{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Top stocks of 2018</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on February 1, 2018
          </p>
 <p>2017 has been such an incredible year for the stock market.</p>
 <p>-The Dow raced 25% higher in 2017, getting even closer to 25,000 and making this year its best since 2013.
<br>-The index breezed through milestones. It had taken the Dow 14 years to climb from 10,000 to 15,000, but just three and a half years to reach 20,000 in 2017.
<br>-The S&P 500 and Nasdaq also had their best years since 2013. The broader S&P 500 zoomed 19%. And the Nasdaq jumped an impressive 28%.</p>
<p>2018 started strong and looks bullish, but how far can it go. <br>Here are the top 5 stocks that we have for you that looks the most  upbeat</p>


          <!-- Preview Image -->
        <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>


          <img class="img-fluid rounded" src="{{ asset('main/img/top-stocks-2018.jpg') }}" alt="">

          <hr>

          <!-- Post Content -->

          <h3>1-General Electric (NYSE: GE)</h3>
            <p>The worst should be behind General Electric (GE) now that the company has slashed its dividend and starts to focus again on its neglected industrial core business. While General Electric has been the biggest laggard in the Dow Jones Industrial Average in 2017, I believe downside from here on out is quite limited. In my opinion, General Electric is a prime rebound candidate, and the company could begin to close its underperformance gap in 2018.

             <p>2017 was not a good year for General Electric. The conglomerate has been under constant activist pressure, failed to deliver attractive capital returns, slashed its dividend, and reduced its full-year profit guidance from $1.60-$1.70/share to just $1.05-$1.10/share. As a result, General Electric has underperformed the Dow Jones Industrial Average by a HUGE margin.</p>



          <h3>2-Roku (NASDAQ: ROKU)</h3>
            <p>Roku (ROKU) is a direct play on the cord-cutting and TV streaming movement. It makes over-the-top (OTT) TV streaming devices that allow people to access apps such as Netflix (NFLX - Get Report) , Amazon (AMZN - Get Report) and Hulu. It also developed an operating system that accesses the same apps, and which comes pre-installed on many smart TVs.</p>

            <p>The company is pulling in tons of users by selling streaming devices and TVs (73% of total revenue and 33% of gross profit) at relatively little profit, then cashing in once they are users of the company's platform by selling advertising, content distribution services and audience data.</p>

            <p>It's a potentially monster story given that Roku benefits from the general acceptance of TV streaming and the mega-movement toward dumping expensive cable packages, and isn't tied to one particular service. Analysts expect 2018 revenue growth to hit 30%, while red ink will likely be slashed from -$1.80 in 2017 to -$0.43 in 2018.</p>

            <p>Yes, there's competition, and the stock is extraordinarily volatile. But if management continues to make the right moves, the potential is huge as millions more viewers use its platform.</p>

           <h3>3-Paypal (NASDAQ: PYPL)</h3>
           <p>PayPal Holdings (PYPL - Get Report) is morphing into a digital and mobile payments gatekeeper. Its software lets consumers fund accounts via credit, debit or bank accounts.</p>

            <p>PayPal is winning over young customers with its Venmo service, a peer-to-peer mobile payment program. Millennials love Venmo. Using physical cash puzzles this generation which prefer to pay via their mobile phones.</p>

            <p>Venmo is an app that sits on your phone. It links to your bank account, credit or debit card. To date, it is used mostly to pay another person. Opening Venmo up to retail payments next year will rev up PayPal's profits.</p>

            <p>Industry experts estimate that Venmo has 10 million users. None of those users currently pay transaction fees. All the while, PayPal's basic business blossomed. After PayPal added debit and credit cards to payment choices, user growth rocketed. PayPal's total active account base grew 14% last quarter.</p>

            <p>With over 200 million active accounts and close to 10 million Venmo users, the company has the scale to enjoy the network effect. PayPal also offers immediate access to Venmo funds for a $0.25 fee. This seems like a small amount to pay for the convenience. I expect this fee will generate significant revenue for the company.</p>

            <h3>4-NVIDIA (NASDAQ: NVDA)</h3>
            <p>NVIDIA stock soared more than 80% in 2017. Although I didn't enjoy that nice gain, my prediction is that the stock is in store for another banner year in 2018.</p>

            <p>The company got its claim to fame as a maker of graphics chips for gaming. That's still an impressive growth market for NVIDIA. Along the way, though, it was discovered that NVIDIA's chips were ideal for artificial intelligence (AI) applications. I think the AI boom experienced last year will pick up even more steam this year, which should drive NVIDIA stock even higher.</p>

            <p>In particular, there are a couple of AI-related stories that should benefit NVIDIA in 2018. One is the continued migration of major internet companies and cloud-service providers to the company's Volta architecture. NVIDIA calls Volta the "new driving force behind artificial intelligence" that will "fuel breakthroughs in every industry." Hype? Yes, but it's also probably true.</p>
            <p>The other major AI story for NVIDIA will be its DRIVE PX Pegasus platform. Pegasus is the first AI computer designed for fully autonomous vehicles. I look for automakers to chomp at the bit to get NVIDIA's new platform, which should be available in the second half of this year.  </p>

            <h3>5-Baidu (NASDAQ: BIDU)</h3>
            <h5>China's largest search engine is banking on AI</h5>
            <p>Baidu (NASDAQ:BIDU) can accurately be referred to as the "Google of China". While many other comparisons don't match quite as closely, that isn't the case here.</p>

            <p>Both companies derive the lion's share of sales from advertising. Both rely on data gathered from all of their free products (search, maps, videos, etc.) to offer up such ads. But neither is resting on its laurels. Google changed its name to Alphabet to highlight its "Other Bets", while Baidu also has several irons in the fire.</p>

            <p>The company's foray into an online-to-offline (O2O) ecosystem seems to be sputtering, but management's cost-cutting there has helped improve margins. Now the focus has turned to a combination of it iQiyi video service and artificial intelligence. The latter includes a virtual assistant for home, and autonomous driving software.</p>

            <p>Those potential catalysts, plus an advertising business that's once again growing after a series of unfortunate events led to a short-lived stall, give Baidu a lot of momentum heading into 2018. Currently, shares trade for just 22 times trailing free cash flow -- a very favorable price for investors buying in today.</p>


          <br>

         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/before-buying-stock.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="before-buying-stock" ><h4 class="card-title">Before Buying a Stock</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/trading-book.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="top-trading-book" ><h4 class="card-title">5 Trading Books</h4></a>
              </div>

              </div>
            <div class="card">
              <img class="card-img-top" src="{{ asset('main/img/stock-trading-tips.jpg') }}" alt="Card image cap">
              <div class="card-block">
                <a  href="stock-trading-tips" ><h4 class="card-title">Stock Trading Tips</h4></a>
              </div>
              </div>
          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">News</h5>
            <div class="input-group">
              <div class="feedgrabbr_widget" id="fgid_f367e6865f9c09864b6a7e8b4"></div>
              <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_f367e6865f9c09864b6a7e8b4");</script>
              <script async src="{{ asset('https://www.feedgrabbr.com/widget/fgwidget.js') }}"></script>
            </div>
          </div>


          <!-- More Articles -->

           <div class="card my-4" id="news2">
            <div class="wrapper"  <div class="wrapper" style="background: url(http://laurenceourac.com/home/wp-content/uploads/2015/01/Accessories-Every-Man-Should-Have.jpg) center/cover no-repeat;">>
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="men-accessory">5 Accessories Every Guy Needs (Part1)</a></h2>
                  <a href="men-accessory" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="men-accessory" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://www.timeshighereducation.com/sites/default/files/computer_programming.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="top-programming-languages-2018">Best programming language to learn in 2018</a></h2>
                  <a href="top-programming-languages-2018" class="whitehover"> <p class="text">In the programming field. You must always be on top of the news. You can be the best at one programming language, but...</p></a>
                  <a href="top-programming-languages-2018" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>





{% endblock %}
{% block javascripts %}
  <script>

      $(" #business-nav-item").css('background-color', '#0e5d91');
      $(" #business-nav-item").css('opacity', '0.75');
  </script>
{% endblock %}