{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Top Dating Apps</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on February 5, 2018
          </p>
 <p>The online dating world is awash with apps, but for many singles, seeking out the very best dating apps can be a little perplexing.
 <br> Do you shoot for the most aesthetically pleasing offering, or do you test out the app with the highest number of users?
 <br> Do you delve into the expansive and whimsical world of niche dating apps, or look up something a little more established?</p>

<h2>So Which dating app is the best for me?</h2>
          <!-- Preview Image -->
         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>


          <img class="img-fluid rounded" src="{{ asset('main/img/dating-apps.jpg') }}" alt="">

          <hr>

          <!-- Post Content -->

          <h3>Tinder</h3>
          <p style="font-style: italic;"> This seems to be the best dating app but i think some newer apps are interesting too</p>
         <div class="row">
         <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/tinder.jpg') }}" alt=""></div>
           <div class="col-8"> <p> Tinder offers a simple-to-use interface and free messaging--a rarity among dating apps. <br>
           Just swipe right or left to decide who to chat with. If they agree, you can chat and figure out what to do next!<br>
            To keep things secure and ensure that profiles are accurate, the app pulls relevant information from Facebook to create your profile.</p>
            <p><b>Getting started takes less than a minute!</b></p></div>
         </div>
<br>
         <h3>Bumble</h3>
          <p style="font-style: italic;"> Swipe to match, but only females can initiate conversation</p>
          <div class="row">
            <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/bumble.png') }}" alt=""></div>
            <div class="col-8"> <p> Bumble features an interface similar to Tinder. Swipe to make a match or dismiss an option. But from there, things change up a bit. </p>
            <p>The site aims to address issues with spam that many dating services face.
             <br>Each match you make only stays on your account for 24 hours, matches are limited per day and <b>females must be the first to leave a message.</b></p> </div>
          </div>
<br>

<h3>OKCupid</h3>
          <p style="font-style: italic;"> Broswe and find matches via questions and responses</p>
          <div class="row">
            <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/okcupid.png') }}" alt=""></div>
              <div class="col-8"><p> Just like the site, you can meet and chat with new people, rate profiles and broadcast your date suggestions.</p>
            <p>OkCupid is fast and easy to navigate and lets you share more about yourself for better matches.</p>
                <p>The app is lighthearted and fun to use, <b>you never know who you might find!</b></p> </div>
          </div>
<br>

          <h3>Match.com</h3>
          <p style="font-style: italic;">  Search based on interests and personality</p>
          <div class="row">
            <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/match.png') }}" alt=""></div>
              <div class="col-8"> <p> Browse profiles based on criteria such as appearance, interests and job type.</p>
             <p>Personalized matches are sent to you every day that have been matched <b>with your personality and the interests you list when signing up</b></p></div>
          </div>
          <br>

          <h3>Coffee meets Bagel</h3>
          <p style="font-style: italic;"> Created by three sisters: Arum, Dawoon, and Soo Kang</p>
          <div class="row">
            <div class="col-4"><img class="img-fluid rounded" src="{{ asset('main/img/coffee-meets-bagel.png') }}" alt=""></div>
            <div class="col-8"> <p>The app differs from other dating apps by limiting the number of profiles users can interact each day.
            </p><p>
                        Coffee Meets Bagel looks at each user's Facebook account to help identify potential matches. A user is exposed to at least one match per day,
                           but<b> can only contact their matches if they "Like" them and their matches "Like" them back</b></p></div>
          </div>


          <br>

         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://i.ytimg.com/vi/Nl-9cY13np8/maxresdefault.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="alpha-m" ><h4 class="card-title">What's The Story behind Alpha M?</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://i.pinimg.com/736x/56/84/5f/56845fe01a872ffab5140bd481eca219--mens-leather-accessories-mens-accessories.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="men-accessory" ><h4 class="card-title">5 Men Accessory Every Guy Need</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://collegeparents.org/wp-content/uploads/sites/2/2016/06/Habits-Chart-Clip-copy.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="daily-habits" > <h4 class="card-title">5 Effective Daily Habits For a Better Routine</h4></a>
              </div>
            </div>

          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
            <div class="card my-4">
              <h5 class="card-header">Playlist of the Week</h5>
            <iframe height="300" src="http://www.youtube.com/embed/videoseries?list=PLJtiUhaefF8dpPIPSXbHX2EiFa8dft3Ef" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>


          <!-- More Articles -->

           <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://assets3.thrillist.com/v1/image/1839024/size/tmg-article_default_mobile.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day" style="color:black">6</span>
                  <span class="month" style="color:black">Feb</span>
                  <span class="year" style="color:black">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o" style="color:black"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o" style="color:black"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author" style="color:black"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title" ><a href="insta-over-snap" style="color:black">How come, Snap is losing the War to Insta?</a></h2>
                  <a href="insta-over-snap"> <p class="text" style="color:black">Have you ever wondered, what makes a person outstanding from the rest, and be a leader?</p></a>
                  <a href="insta-over-snap" class="button" style="color:black">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://metrouk2.files.wordpress.com/2017/01/lsd.jpg?w=748&h=392&crop=1) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="what-is-lsd">What is LSD and What Does it Do to You?</a></h2>
                  <a href="what-is-lsd" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="what-is-lsd" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>




{% endblock %}
{% block javascripts %}
  <script>
      $(" #entertainment-nav-item").css('background-color', '#979874');
      $(" #entertainment-nav-item").css('opacity', '0.75');
  </script>
{% endblock %}