{% extends 'uibase.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <div class="container-fluid">

    <!-- Main Content -->
    <!-- Page Content -->
    <div class="container">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <!-- Blog Post -->
          <div class="card mb-4">
            <a href="alpha-m"><img class="card-img-top" src="http://alpham.com/wp-content/uploads/2017/05/Alpha-M_iamalpham.jpg" alt="Card image cap"></a>
            <div class="card-body">
              <a  href="alpha-m" > <h2 class="card-title">Alpha M</h2></a>
              <p class="card-text"><a href="alpha-m" style="color:black">Before i start introducing this guy, known as Alpha M, let me ensure that I have not been paid or anything like that to write this article. I have been following Alpha for a couple of years now and what are you about to read are facts and from my personal opinion.</a></p>
              <a href="alpha-m" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="graycolor"><i class="fa fa-user"></i> Yassine Berrehouma </a> <i class="fa fa-clock-o"></i> February 1, 2018
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="slayer"> <img class="img-fluid rounded mb-3 mb-md-0" src="https://i.scdn.co/image/8c81130db7b5f933412c4906c30327817f1e1b43" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="slayer" ><h2 class="card-title">Slayer</h2></a>
                    <p class="card-text"><a href="slayer" style="color:black">Have you ever wondered, what makes a person outstanding from the rest, and be a leader?</a></p>
                    <a href="slayer" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="dating-app"> <img class="img-fluid rounded mb-3 mb-md-0" src="https://1npqm93jwgvp2odap33154j8-wpengine.netdna-ssl.com/wp-content/uploads/Tinder-722x540.jpg" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="dating-app" ><h2 class="card-title">Best Dating Apps</h2></a>
                    <p class="card-text"><a href="dating-app" style="color:black">The online dating world is awash with apps, but for many singles, seeking out the very best dating apps can be a little perplexing.</a></p>
                    <a href="dating-app" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card">
              <div class="row ">
                <div class="col-md-4">
                  <a href="top-youtube-musicians">  <img class="img-fluid rounded mb-3 mb-md-0" src="https://o.aolcdn.com/images/dims?quality=100&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D4371%252C2911%252C0%252C72%26quality%3D85%26format%3Djpg%26resize%3D1600%252C1066%26image_uri%3Dhttp%253A%252F%252Fo.aolcdn.com%252Fhss%252Fstorage%252Fmidas%252F9ee8eec7421f5c97cdcb99c53e3d330%252F206057665%252Fsebastian-yatra-performs-onstage-at-youtube-musica-sin-fronteras-a-picture-id874862682%26client%3Da1acac3e1b3290917d92%26signature%3De15d02e980728b6fc5a41c5a169091671952ac75&client=cbc79c14efcebee57402&signature=91f9de381b963415b60929285383efab5fb5b83b" alt="" id="top-article-img"></a>
                </div>
                <div class="col-md-8 px-3">
                  <div class="card-block px-3">
                    <a  href="top-youtube-musicians" ><h2 class="card-title">Top Youtube Musicians</h2></a>
                    <p class="card-text"><a href="top-youtube-musicians" style="color:black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</a></p>
                    <a href="top-youtube-musicians" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
            </div>
          </div>








          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <a href="men-accessory"><img class="card-img-top" src="{{ asset('main/img/men-accessory.jpg') }}" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="men-accessory" ><h4 class="card-title">5 Accessories every Guy Needs</h4></a>
              </div>
            </div>
            <div class="card">
              <a href="dmitry-klokov">  <img class="card-img-top" src="{{ asset('main/img/dmitry-klokov.png') }}" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="dmitry-klokov" ><h4 class="card-title"> Who Is Dmitry Klokov?</h4></a>
              </div>
            </div>
            <div class="card">
              <a href="top-stock-2018"> <img class="card-img-top" src="https://gigaom.com/wp-content/uploads/sites/1/2013/06/wall-street-new-york-stock-exchange.jpg" alt="Card image cap"></a>
              <div class="card-block">
                <a  href="top-stock-2018" > <h4 class="card-title">Top Stocks of 2018</h4></a>
              </div>
            </div>
          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
          <div class="card my-4">
              <h5 class="card-header">Playlist of the Week</h5>
            <iframe height="300" src="http://www.youtube.com/embed/videoseries?list=PLJtiUhaefF8dpPIPSXbHX2EiFa8dft3Ef" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>


          <!-- More Articles -->

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://assets3.thrillist.com/v1/image/1839024/size/tmg-article_default_mobile.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day" style="color:black">6</span>
                  <span class="month" style="color:black">Feb</span>
                  <span class="year" style="color:black">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o" style="color:black"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o" style="color:black"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author" style="color:black"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title" ><a href="insta-over-snap" style="color:black">How come, Snap is losing the War to Insta?</a></h2>
                  <a href="insta-over-snap"> <p class="text" style="color:black">Have you ever wondered, what makes a person outstanding from the rest, and be a leader?</p></a>
                  <a href="insta-over-snap" class="button" style="color:black">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://metrouk2.files.wordpress.com/2017/01/lsd.jpg?w=748&h=392&crop=1) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="what-is-lsd">What is LSD and What Does it Do to You?</a></h2>
                  <a href="what-is-lsd" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="what-is-lsd" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </div>
</div>




    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('main/vendor/jquery/jquery.min.js') }} "></script>
    <script src="{{ asset('main/vendor/bootstrap/js/bootstrap.bundle.min.js') }} "></script>

    <!-- Custom scripts for this template -->
    <script src="{{ asset('main/js/clean-blog.min.js') }} "></script>
    {% endblock %}
    {% block javascripts %}
      <script>

          $(" #entertainment-nav-item").css('background-color', '#979874');
          $(" #entertainment-nav-item").css('opacity', '0.75');
          /*$(" #mainNav.fixed-top .navbar-sidenav").css('background-color', '#979874');
          $(" #mainNav.navbar.navbar-expand-lg.fixed-top").css('background-color', '#979874');
          $(" #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link").css('background-color', '#76775a');
          $(" .nav-link").css('color', '#e5e5e5');*/

      </script>
    {% endblock %}

