{% extends 'uibase.html.twig' %}
{% block body %}


  <div class="content-wrapper">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Slayer</h1>


          <!-- Author -->
          <p class="lead">
            by
            <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><b>Yassine Berrehouma</b></a>
            Posted on February 6, 2018
          </p>

<p>As the most extreme thrash metal band out of The Big Four. This is what makes them special and separates the band from their contemporaries,
           making them a highly influential band in heavy metal as a whole.</p>

<p>While the likes of Metallica, Megadeth and Anthrax still have a recurring melody within their tunes, Slayer took the genre to the extremes by having chaotic sounding guitar riffs and solos,
 very fast and aggressive drumming, and screaming vocals by Tom Araya. </p>
 <p>In return, they would eventually become a huge influence to many bands within the extreme metal genre</p>
          <!-- Preview Image -->
         <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>



         <iframe width="700" height="345" src="https://www.youtube.com/embed/cbyswHABG3Q">
            </iframe>

          <br>
          <br>

          <!-- Post Content -->

      <h3>1-The Group Has Sold Over 20 Million Albums</h3>
      <img class="img-fluid rounded" src="{{ asset('main/img/slayer-live.jpg') }}" alt="">
            <p><br>Slayer sold 4,900,000 copies in the United States from 1991 to 2013, according to Nielsen SoundScan, and over 20 million worldwide.
            Slayer has earned six gold certifications and one multi-platinum plaque from the Recording Industry Association of America. </p>
           <p> The band was signed to Def Jam Recordings by Rick Rubin after the release of its first two albums, Show No Mercy (1983) and Hell Awaits (1985).
            Rick produced Reign in Blood (1986) and helped Slayer break into the Billboard 200 for the first time. So far, Slayer has five Gold-certified albums.</p>
 <br>
 <h3>2-Slayer Has Released 12 Albums</h3>
 <img class="img-fluid rounded" src="{{ asset('main/img/slayer-albums.jpg') }}" alt="">
            <p><br>In the band’s 35-year span, Slayer has released 12 albums: Show No Mercy (1983), Hell Awaits (1985), Reign in Blood (1986), South of Heaven (1988), Seasons in the Abyss (1990),
            Divine Intervention (1994), Undisputed Attitude (1996), Diabolus in Musica (1998), God Hates Us All (2001), Christ Illusion (2006), World Painted Blood (2009) and Repentless (2015).</p>
             <p>They have also released three live albums, two EPs and two box sets. Reign in Blood, Seasons in the Abyss and South of Heaven are considered to be the band’s best releases.</p>
 <br>
 <h3>3-The Band Utilizes Satanic and Violent Imagery</h3>
 <img class="img-fluid rounded" src="{{ asset('main/img/slayer-santanic.jpg') }}" alt="">
            <p><br>In their early shows, the band utilized pentagrams, make-up, spikes and inverted crosses in their shows. Their lyrics and album art cover topics such as murder, serial killers, torture,
             genocide, human experimentation, Satanism, hate crimes, terrorism, religion, anti-religion, Nazism, warfare and even necrophilia.</p>
              <p>This generated a lot of controversy at the time and have resulted resulted in album bans, delays, lawsuits and criticism from the public and religious groups.
               The band was highly influential to death metal and black metal-founding/leading bands like Death, Obituary, Cannibal Corpse, Morbid Angel and Napalm Death.</p> <br>
<br>
      <h3>4-The Group’s Debut Album Had No Recording Budget</h3>
      <img class="img-fluid rounded" src="{{ asset('main/img/slayer-before.jpg') }}" alt="">
       <p><br>Slayer’s 1983 debut album Show No Mercy had no recording budget. The band had to self-finance the LP by combining the savings of Araya, who worked as a respiratory therapist at the time, and borrowing money from King’s father.</p>
       <p>The album was very rushed into release; it hit shelves only three weeks after the songs were finalized. Because the release became quite popular in the underground, Slayer was able to embark on its first national club tour in 1984 to promote the album.</p>
       <p>Nevertheless, they had to travel in Tom Aray’s Camaro towing a U-Haul trailer.</p>
<br>

       <h3>5-Kerry King Joined Megadeth for a While</h3>
       <img class="img-fluid rounded" src="{{ asset('main/img/kerry-mustaine.jpg') }}" alt="">
           <p><br>After the band finished the ‘Haunting The West Coast’ US tour in 1984, Kerry King joined Dave Mustaine’s new band Megadeth.</p>
            <p>The band considered getting a new guitar player, but King left Megadeth after five shows, saying that the new band took “too much of [his] time.” The split caused a clash between
            King and Mustaine because Mustaine wanted King to stay permanently, and it transcended into a long-running feud between the two bands.</p><br>
<br>
 <h3>6-Only Two Members Stayed in the Band the Entire Time</h3>
 <img class="img-fluid rounded" src="{{ asset('main/img/tom-kerry.jpg') }}" alt="">
           <p><br>Tom Araya and Kerry King were the only two members to stay in the band the whole time since its 1981 inception.</p>
            <p>Jeff Henneman passed away in 2013 at the age of 49 due to alcohol-related cirrhosis, which caused a liver failure.</p>
             <p>Founding member Dave Lombardo performed with Slayer on nine albums, but also played for other bands like Grip Inc., Fantômas, Philm, Testament, Suicidal Tendencies., Dead Cross and the Misfits.</p>
              <p>Additional members throughout the years include drummer Paul Bostaph, guitarist Gary Holt and drummer Jon Dette.</p>
          <br>
        <!--  <div class="row" id="social-share">

          <!--<button type="button" class="btn btn-primary btn-lg" style="background-color: #3b5998 ; width: 19% ; border-style:none "><i class="fa fa-facebook left"></i> Facebook</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #55ACEE ; width: 19% ; border-style:none "><i class="fa fa-twitter-square fa-4x"></i> </button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #0000F0 ; width: 18% "><i class="fa fa-envelope left"></i> Email</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #2c4762 ; width: 19% ; border-style:none "><i class="fa fa-tumblr left"></i> Tumblr</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #007bb5 ; width: 19% ; border-style:none "><i class="fa fa-linkedin left"></i> Linkedin</button>
          <button type="button" class="btn btn-primary btn-lg" style="background-color: #cb2027 ; width: 19% ; border-style:none "><i class="fa fa-pinterest left"></i> Pinterest</button>-->
         <!-- <a href="#"><i class="fa fa-facebook-square fa-4x fa-hover" data-toggle="tooltip" title="Facebook" style="color: #3b5998 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-twitter-square fa-4x fa-hover " data-toggle="tooltip" title="Twitter" style="color: #55ACEE ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-tumblr-square fa-4x fa-hover"data-toggle="tooltip" title="Tumblr"  style="color: #2c4762 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-envelope-square fa-4x fa-hover" data-toggle="tooltip" title="Mail" style="color: #0000F0 ;"></i></a>&nbsp;
           <a href="#"><i class="fa fa-linkedin-square fa-4x fa-hover" data-toggle="tooltip" title="Linkedin" style="color: #007bb5 ;"></i></a>&nbsp;
          <a href="#"><i class="fa fa-pinterest-square fa-4x fa-hover"data-toggle="tooltip" title="Pinterest" style="color: #cb2027 ;"></i></a>&nbsp;
          </div>!-->


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
          <br>
          <!-- Bottom posts-->
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://cdn.flexshopper.xyz/marketing-images/category/slc_hero-musicalInstruments.png" alt="Card image cap">
              <div class="card-block">
                <a  href="learn-and-play-any-instrument" ><h4 class="card-title">How to Learn and Play Any Instrument (Faster)?</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://i.ytimg.com/vi/RObRw2oGlhk/maxresdefault.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="dmitry-klokov" ><h4 class="card-title">Who Is Dmitry Klokov?</h4></a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="https://www.unitingambition.com/wp-content/uploads/2014/12/code567.jpg" alt="Card image cap">
              <div class="card-block">
                <a  href="top-programming-languages-2018" > <h4 class="card-title">Top Programming Languages for 2018</h4></a>
              </div>
            </div>

          </div>
          <br>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
           <div class="card my-4">
              <h5 class="card-header">Playlist of the Week</h5>
            <iframe height="300" src="http://www.youtube.com/embed/videoseries?list=PLJtiUhaefF8dpPIPSXbHX2EiFa8dft3Ef" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>


          <!-- More Articles -->

         <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://assets3.thrillist.com/v1/image/1839024/size/tmg-article_default_mobile.jpg) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day" style="color:black">6</span>
                  <span class="month" style="color:black">Feb</span>
                  <span class="year" style="color:black">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o" style="color:black"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o" style="color:black"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author" style="color:black"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title" ><a href="insta-over-snap" style="color:black">How come, Snap is losing the War to Insta?</a></h2>
                  <a href="insta-over-snap"> <p class="text" style="color:black">Have you ever wondered, what makes a person outstanding from the rest, and be a leader?</p></a>
                  <a href="insta-over-snap" class="button" style="color:black">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4" id="news2">
            <div class="wrapper" style="background: url(https://metrouk2.files.wordpress.com/2017/01/lsd.jpg?w=748&h=392&crop=1) center/cover no-repeat;">
              <div class="header">
                <div class="date">
                  <span class="day">6</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                  <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
              </div>
              <div class="data">
                <div class="content">
                  <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                  <h2 style="font-weight: 400" class="title"><a href="what-is-lsd">What is LSD and What Does it Do to You?</a></h2>
                  <a href="what-is-lsd" class="whitehover"> <p class="text">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs.</p></a>
                  <a href="what-is-lsd" class="button">Read more</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->
    </div>





{% endblock %}
{% block javascripts %}
  <script>
      $(" #entertainment-nav-item").css('background-color', '#979874');
      $(" #entertainment-nav-item").css('opacity', '0.75');
  </script>
{% endblock %}