{% extends 'mainbase.html.twig' %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image:url('{{ asset('main/img/main-pic.jpg') }}')" >

      <div class="container" id="header-container">
        <div class="container">
              <div class="page-heading">



                  <div class="row" id="top-article">
                    <div class="col-xl-7">
                      <a href="top-stock-2018">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="http://cdn.endtimeheadlines.org/wp-content/uploads/2017/10/usa-2661656_1280-1280x640.jpg" alt="" id="top-article-img">
                      </a>
                    </div>
                    <div class="col-xl-5">
                      <a  href="top-stock-2018" ><h2 class="card-title" >Top stocks of 2018</h2></a>
                      <p style="color:black;text-align: left;"><a  href="top-stock-2018" class="blackhover" >2017 has been such an incredible year for the stock market.
                       2018 started strong and looks bullish, but how far can it go. Take a look at the top 5 stocks that we have for you that looks the most upbeat
                        &nbsp; <a href="top-stock-2018" class="btn btn-primary btn-sm" id="button-header">Read More &rarr;</a>
                        </a></p>

                    </div>
                  </div>
            </div>
          </div>
      </div>
    </header>

    <!-- Main Content -->
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">



          <!-- Blog Post -->
          <div class="card mb-4">
            <a href="before-buying-stock"> <img class="card-img-top" src="{{ asset('main/img/before-buying-stock.jpg') }}" alt="Card image cap"></a>
            <div class="card-body">
              <a  href="before-buying-stock" ><h2 class="card-title">Musts before buying a stock</h2></a>
              <p class="card-text">
                <a  href="before-buying-stock" class="blackhover" >When you want to invest in certain stock, from my perspective the most important thing to know is its business´s fundamentals, its financial overview and its opportunity to grow</a></p>
              <a href="before-buying-stock" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
               <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="graycolor"><i class="fa fa-user"></i> Yassine Berrehouma </a> <i class="fa fa-clock-o"></i> February 1, 2018
            </div>
          </div>

          <!-- Blog Post -->
          <div class="card mb-4">
            <a href="men-accessory"><img class="card-img-top" src="{{ asset('main/img/men-accessory.jpg') }}" alt="Card image cap"></a>
            <div class="card-body">
              <a  href="men-accessory" ><h2 class="card-title">5 Accessories Every Guy Needs (Part1)</h2></a>
              <p class="card-text"><a  href="men-accessory" class="blackhover">Gentlemen today is an accessory extravaganza because I'm going over 5 accessories I feel every dude needs. Some of the accessories you're going to wear some of them you're going to carry but the deal is if I miss your favorite please in the comments let me know and I'll do another article accessory.</a></p>


              <a href="men-accessory" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="graycolor"><i class="fa fa-user"></i> Yassine Berrehouma </a> <i class="fa fa-clock-o"></i> February 1, 2018
            </div>
          </div>

          <!-- Blog Post -->
          <div class="card mb-4">
            <a href="dmitry-klokov"> <img class="card-img-top" src="{{ asset('main/img/dmitry-klokov.png') }}" alt="Card image cap"></a>
            <div class="card-body">
              <a  href="dmitry-klokov" > <h2 class="card-title">Who is Dmitry Klokov?</h2></a>
              <p class="card-text"><a  href="dmitry-klokov" class="blackhover">Before i start introducing this guy, let me tell how i got to know him.
                  Going through some inspirational videos on youtube, i land on this video...</a></p>
              <a href="dmitry-klokov" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="graycolor"><i class="fa fa-user"></i> Yassine Berrehouma </a> <i class="fa fa-clock-o"></i> February 1, 2018
            </div>
          </div>

          <!--multiple post-->
          <div class="site__wrapper">
            <div class="grid">
              <div class="card">
                <div class="card__image">
                  <img width="375px" height=610px" src="{{ asset('main/img/programming-languages.jpeg') }} " alt="">

                  <div class="card__overlay card__overlay--indigo">
                    <div class="card__overlay-content">
                      <ul class="card__meta">
                        <li><a href="#0"><i class="fa fa-fw fa-flask"></i> Science</a></li>
                        <!--<li><a href="#0"><i class="fa fa-clock-o"></i> 2 min ago</a></li>-->
                      </ul>

                      <a href="top-programming-languages-2018" class="card__title">Best programming language to learn in 2018</a>

                      <ul class="card__meta card__meta--last">
                        <li><a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><i class="fa fa-user"></i> Yassine Berrehouma</a></li>
                        <!--<li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="card">
                <div class="card__image">
                  <img width="375px" height=300px" src="{{ asset('main/img/trading-book.jpg') }}" alt="">

                  <div class="card__overlay card__overlay--blue">
                    <div class="card__overlay-content">
                      <ul class="card__meta">
                        <li><a href="#0"><i class="fa fa-fw fa-handshake-o"></i> Bussines</a></li>
                        <!--<li><a href="#0"><i class="fa fa-clock-o"></i> 2 min ago</a></li>-->
                      </ul>

                      <a href="top-trading-book" class="card__title">5 Must Stock Trading Books</a>

                      <ul class="card__meta card__meta--last">
                        <li><a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><i class="fa fa-user"></i> Yassine Berrehouma</a></li>
                        <!--<li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="card">
                <div class="card__image">
                  <img width="375px" height=300px" src="{{ asset('main/img/stock-trading-tips.jpg') }}" alt="">

                  <div class="card__overlay card__overlay--indigo">
                    <div class="card__overlay-content">
                      <ul class="card__meta">
                        <li><a href="#0"><i class="fa fa-fw fa-handshake-o"></i> Bussines</a></li>
                        <!--<li><a href="#0"><i class="fa fa-clock-o"></i> 2 min ago</a></li>-->
                      </ul>

                      <a href="stock-trading-tips" class="card__title">Stock Trading Tips</a>

                      <ul class="card__meta card__meta--last">
                        <li><a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><i class="fa fa-user"></i> Yassine Berrehouma</a></li>
                        <!--<li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="card">
                <div class="card__image">
                  <img width="375px" height=300px" src="{{ asset('main/img/dating-apps.jpg') }}" alt="">

                  <div class="card__overlay card__overlay--indigo">
                    <div class="card__overlay-content">
                      <ul class="card__meta">
                        <li><a href="#0"><i class="fa fa-fw fa-music"></i> Entertainment</a></li>
                        <!--<li><a href="#0"><i class="fa fa-clock-o"></i> 2 min ago</a></li>-->
                      </ul>

                      <a href="dating-app" class="card__title">Top Dating Apps</a>

                      <ul class="card__meta card__meta--last">
                        <li><a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><i class="fa fa-user"></i> Yassine Berrehouma</a></li>
                        <!--<li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="card">
                <div class="card__image">
                  <img width="375px" height=300px" src="{{ asset('main/img/men-accessory.jpg') }}" alt="">

                  <div class="card__overlay card__overlay--blue">
                    <div class="card__overlay-content">
                      <ul class="card__meta">
                        <li><a href="#0"><i class="fa fa-fw fa-diamond"></i> Lifestyle</a></li>
                        <!--<li><a href="#0"><i class="fa fa-clock-o"></i> 2 min ago</a></li>-->
                      </ul>

                      <a href="men-accessory2" class="card__title">5 Accessories Every Guy Needs (Part2)</a>

                      <ul class="card__meta card__meta--last">
                        <li><a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><i class="fa fa-user"></i> Yassine Berrehouma</a></li>
                        <!--<li><a href="#0"><i class="fa fa-facebook-square"></i> Share</a></li>-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          <!-- Pagination -->
        <!--  <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>-->

        </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">News</h5>
              <div class="input-group">
                <div class="feedgrabbr_widget" id="fgid_f367e6865f9c09864b6a7e8b4"></div>
                <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_f367e6865f9c09864b6a7e8b4");</script>
                <script async src="{{ asset('https://www.feedgrabbr.com/widget/fgwidget.js') }}"></script>
              </div>



          </div>




           <!-- quick fact card-->
          <div class="card my-4">
                <div class="rotate-container">
                  <div class="card card-front text-center">
                    <div class="card-header">
                      <p>Quick Fact</p>
                    </div>
                    <div class="card-background"></div>
                    <div class="card-block"><img class="avatar" src="{{ asset('main/img/alpha.jpg') }}" alt="Avatar"/>
                      <h3 class="card-title">Alpha M</h3>
                      <p><i class="fa fa-fw fa-diamond"></i>Lifestyle</p>
                      <button class="btn btn-primary btn-rotate">I am curious &nbsp;       <i class="fa fa-long-arrow-right"></i></button>
                    </div>
                  </div>
                  <div class="card card-back text-center">
                    <div class="card-header">
                      <p><a href="alpha-m">Alpha M</a></p>
                    </div>
                    <div class="card-block">
                      <h4><i class="fa fa-fw fa-diamond"></i>Lifestyle</h4>
                      <p> <a href="alpha-m">I have been following Alpha for a couple of years now and what are you about to read are facts.
                          Learn about him, and a true inspiration will be found!</a></p>

                      <h4>Connect:</h4>
                      <ul class="social-links list-unstyled d-flex justify-content-center">
                        <li><a href="https://www.facebook.com/IAmAlphaM/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/alphamimage" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/user/AlphaMconsulting" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="https://www.instagram.com/aaronmarino/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                      <button class="btn btn-secondary btn-rotate">   <i class="fa fa-long-arrow-left"> </i>&nbsp; Back </button>
                      <a href="alpha-m" class="btn btn-primary btn-sm" id="button-header">Read More &rarr;</a>
                    </div>
                  </div>
               </div>
          </div>

          <!-- scroll card-->
          <div class="card my-4">
              <div class="row pt-5 m-auto">

                  <!-- Add a style="height: XYZpx" to div#news2 to limit the card height and display scrollbar instead -->
                  <div class="card card-custom bg-white border-white border-0" style="height: 450px">
                    <a href="top-online-brokers" style="color:white"><div class="card-custom-img" style="background-image: url(https://www.logicno.com/wp-content/uploads/2017/08/Sankcije-940x560.jpg);"></div></a>
                    <div class="card-custom-avatar">
                      <a href="top-online-brokers"> <img class="img-fluid" src="http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_720/images/live/p0/1d/y0/p01dy048.jpg" alt="Avatar" /></a>
                    </div>
                    <div class="card-body" style="overflow-y: auto">

                      <a  href="top-online-brokers" ><h4 class="card-title">Top Online Brokers</h4></a>
                      <a href="top-online-brokers"> <p class="card-text"> <a href="top-online-brokers" class="blackhover">As a new investor or little experienced trader, having the right online stock broker is one of the most important decisions.</a> </p>
                        <p class="card-text"><a href="top-online-brokers" class="blackhover">One thing to consider, that would help to determine which one is the right pick, is your investment style of stock trading and options.</a></p>

                    </div>
                    <div class="card-footer" style="background: inherit; border-color: inherit;">
                      <a href="top-online-brokers" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                  </div>

                </div>
              </div>

        <!-- news card-->
        <div class="card my-4" id="news1">
          <div class="wrapper">

                <div class="date">
                  <span class="day">5</span>
                  <span class="month">Feb</span>
                  <span class="year">2018</span>
                </div>
                <div class="data">
                  <div class="content">
                    <span class="author"><a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank"><i class="fa fa-user">Yassine Berrehouma</i></a></span>
                    <h3 class="title"><a href="things-to-avoid">What are the things that you must avoid for a better life?</a></h3>
                    <p class="text"><a href="things-to-avoid" class="blackhover">To be successful in life, isn't only about the things that you have to do and achieve, but...</a></p>
                    <label for="show-menu" class="menu-button"><span></span></label>
                  </div>
                  <input type="checkbox" id="show-menu" />
                  <ul class="menu-content">
                    <li>
                      <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                  </ul>
                </div>
              </div>
            </div>

          <div class="card my-4" id="news2">
              <div class="wrapper">
                <div class="header">
                  <div class="date">
                    <span class="day">6</span>
                    <span class="month">Feb</span>
                    <span class="year">2018</span>
                  </div>
                  <ul class="menu-content">
                    <li>
                      <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                  </ul>
                </div>
                <div class="data">
                  <div class="content">
                    <a href="http://glialomsa.com/yassine-berrehouma/web/" target="_blank" class="whitehover"> <span class="author"><i class="fa fa-user">Yassine Berrehouma</i></span></a>
                    <h2 style="font-weight: 400" class="title"><a href="slayer">Slayer: Farewell Tour</a></h2>
                    <a href="slayer" class="whitehover"> <p class="text">What makes them as the most extreme thrash metal band out of The Big Four?</p></a>
                    <a href="slayer" class="button">Read more</a>
                  </div>
                </div>
              </div>
            </div>


          <!--card with corner-->
          <figure class="snip1249">
            <div class="image">
              <a href="leadership"> <img src="https://www.insidehr.com.au/wp-content/uploads/2017/03/Effective-leader-min.jpg" alt="sample90"/></a><i class="fa fa-fw fa-diamond"></i>
            </div>
            <figcaption>
              <a  href="leadership" > <h4>8 intuitive steps to great leadership</h4></a>
              <p><a  href="leadership" class="blackhover">Have you ever wondered, what makes a person outstanding from the rest, and be a leader?</a></p>
              <div class="price">
                Lifestyle
              </div>
              <a href="leadership" class="add-to-cart"><h5>Read more</h5></a>
            </figcaption>
          </figure>

        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
{% block javascripts %}
    <script>
        $(function() {
            // For card rotation
            $('.btn-rotate').click(function(){
                $('.card-front').toggleClass(' rotate-card-front');
                $('.card-back').toggleClass(' rotate-card-back');
            });
        });
    </script>
    {% endblock %}
{% endblock %}

